@import "../../../assets/styles/variable.scss";

.container {
  padding: 20px $pxSmall 40px $pxSmall;
  max-width: $fullScreen;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  margin: 0 auto;
  width: 100%;
  background: $bgLight;
  border-top: 1px solid $devider;
  @media (max-width: $fullScreen) {
    margin: 0;
    width: auto;
  }
}

.col {
  width: 50%;
  @media (max-width: $tablet) {
    width: 100%;
  }
  &:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width: $tablet) {
      margin-bottom: 23px;
      .copyright {
        display: none;
      }
    }
  }
  &:nth-child(2) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    @media (max-width: $tablet) {
      margin-bottom: 60px;
    }
    @media (max-width: $mobile) {
      margin-bottom: 46px;
    }
  }
  strong {
    font-weight: 700;
    font-size: $title;
    line-height: 20px;
    margin-bottom: 8px;
    display: inline-block;
  }
  a,
  p {
    font-weight: 450;
    font-size: $desc;
    line-height: 24px;
  }

  a {
    text-decoration: none;
    &:hover {
      color: $gray700Hover;
    }
  }

  ul {
    list-style: none;
    &:first-of-type {
      margin-bottom: 31px;
    }
    a {
      line-height: 29px;
    }
  }
}

.colChild {
  width: 33.3333%;
  @media (max-width: $mobile) {
    &:nth-child(1) {
      width: 66.666%;
    }
    &:nth-child(2) {
      width: 33.333%;
    }
    &:nth-child(3) {
      width: 100%;
    }
    &:last-of-type {
      margin-top: 31px;
    }
  }
}

.wrap {
  margin-bottom: 16px;
}

.copyright {
  font-weight: 450;
  font-size: $smallDesc;
  line-height: 14px;
}

.devider {
  border-top: 1px solid $devider;
  padding-top: 10px;
  margin-top: 10px;
  max-width: 150px;
}
