@import "../../../assets/styles/variable.scss";

$heightTop: 65px;
$heightBottom: 56px;

.header {
  @media only screen and (max-width: $mobile) {
    padding-top: $heightTop;
  }
}

.container {
  padding: 0 $pxSmall;
  max-width: $fullScreen;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    li {
      &:not(:last-of-type) {
        margin-right: 30px;
      }
      a {
        position: relative;
        text-decoration: none;
        &:hover {
          color: $gray700Hover;
          &:after {
            content: "";
            width: 100%;
            height: 2px;
            background: #6b6b6b;
            position: absolute;
            left: 0;
            bottom: -18px;
          }
        }
      }
    }
  }
}

.wrap {
  border-bottom: 1px solid $devider;
  background-color: $bgLight;
}

.heightTop {
  height: $heightTop;
  @media only screen and (max-width: $mobile) {
    ul {
      display: none;
    }
  }
}

.heightBottom {
  height: $heightBottom;
}

.logo {
  color: $gray800;
  font-size: 28px;
  letter-spacing: -0.015em;
  font-weight: 800;
  text-decoration: none;
  transition: all 0.3s;
  &:hover {
    color: #6b6b6b;
  }
}

.sticky {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
}

.mobSticky {
  @media only screen and (max-width: $mobile) {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-color: $bgLight;
    z-index: 1;
  }
}

.more {
  display: flex;
  padding: 27px 0 25px 42px;
  cursor: pointer;
  position: relative;
  @media only screen and (max-width: $mobile) {
    display: none;
  }
  b {
    width: 2px;
    height: 2px;
    background: $gray800;
    border-radius: 50%;
    margin: 0 0 0 2px;
    display: block;
    &:nth-child(1) {
      &:before {
        content: "More";
        font-family: "Articulat", sans-serif;
        font-weight: 450;
        font-size: $desc;
        line-height: 18px;
        color: $gray700;
        text-decoration: none;
        position: absolute;
        top: 18px;
        left: 3px;
        @media (max-width: $mobile) {
          font-size: 14px;
        }
      }
    }
  }
  &__active {
    b:nth-child(2) {
      position: relative;
      top: -5px;
    }
  }
}

.hiddenMenu {
  flex-direction: column;
  align-items: flex-start;
  height: auto;
  padding: $pxSmall $pxSmall 60px $pxSmall;
  background-color: $bgLight;
  @media (max-width: $mobile) {
    position: fixed;
    top: $heightTop;
    bottom: 0;
    width: calc(100% - 44px);
    overflow-y: auto;
  }
  ul {
    flex-direction: column;
    align-items: flex-start;
    li {
      a {
        &:hover {
          &:after {
            display: none;
          }
        }
      }
      &:not(:last-of-type) {
        margin-bottom: 16px;
      }
    }
  }
}

.menuDevider {
  border-top: 1px solid $devider;
  margin-top: 19px;
  padding-top: 19px;
  width: 25%;
  min-width: 295px;
  @media (max-width: $mobile) {
    width: 100%;
  }
}

.burger,
.close {
  display: none;
}

@media (max-width: $mobile) {
  .burger,
  .close {
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .burger {
    width: 30px;
    height: 30px;
    background-image: url(../../../assets/images/hamburger.svg);
  }

  .close {
    width: 20px;
    height: 20px;
    background-image: url(../../../assets/images/close.svg);
  }
}
