// padding

$pxSmall: 22px;

// color

$bgLight: #f9f9f9;
$gray700: #444;
$gray700Hover: #6b6b6b;
$gray800: #222;
$devider: #e5e5e5;
$fieldBorder: #ccc;
$activeFieldBorder: #444;
$success: #116f11;
$error: #ff0000;

// font-size

$smallDesc: 12px;
$desc: 14px;
$title: 17px;

// breakpoints

$mobile: 768px;
$tablet: 1024px;
$desktop: 1400px;
$fullScreen: 1920px;

// border-radius

$btnRadius: 5px;
